################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AntRunner/bin
/AntRunner/obj
/AntRunner.Interface/bin/Debug/netstandard2.0
/AntRunner.Interface/obj
/packages
*.DotSettings
