################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.DotSettings
/src/packages
/src/AntRunner.Interface/obj
/src/AntRunner.Interface/bin
/src/.vs
/src/AntRunner/bin
/src/AntRunner/obj
*.user
/.vs
/src/Wrappers/AntRunner.Wrapper.Js/bin
/src/Wrappers/AntRunner.Wrapper.Js/obj
/src/Wrappers/AntRunner.Wrapper.Php/bin
/src/Wrappers/AntRunner.Wrapper.Php/obj
/src/Wrappers/AntRunner.Wrapper.Python/bin
/src/Wrappers/AntRunner.Wrapper.Python/obj
/src/Wrappers/AntRunner.Wrapper.Ruby/obj
/src/AntRunner.Installer/bin
/src/AntRunner.Installer/obj
**/bin
**/obj
