################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.DotSettings
/src/packages
/src/AntRunner.Interface/obj
/src/AntRunner.Interface/bin
/src/.vs
/src/AntRunner/bin
/src/AntRunner/obj
*.user
/bin/AntRunner-1.0.0.0/ExampleAnt/.vs/ExampleAnt/v15
/bin/AntRunner-1.0.0.0/ExampleAnt/obj
/.vs
