<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wrapperLoader" type="AntRunner.Models.WrapperLoaderSection, AntRunner"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <wrapperLoader>
    <wrappers>
      <add path="php" type="AntRunner.Wrapper.Php.Loader, AntRunner.Wrapper.Php" />
      <add path="js" type="AntRunner.Wrapper.Js.Loader, AntRunner.Wrapper.Js" />
    </wrappers>
  </wrapperLoader>
</configuration>