<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wrapperLoader" type="AntRunner.Models.WrapperLoaderSection, AntRunner" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <wrapperLoader>
    <wrappers>
      <add path="php\AntRunner.Wrapper.Php.dll" type="AntRunner.Wrapper.Php.Loader" />
      <add path="js\AntRunner.Wrapper.Js.dll" type="AntRunner.Wrapper.Js.Loader" />
      <add path="python\AntRunner.Wrapper.Python.dll" type="AntRunner.Wrapper.Python.Loader" />
      <add path="ruby\AntRunner.Wrapper.Ruby.dll" type="AntRunner.Wrapper.Ruby.Loader" />
    </wrappers>
  </wrapperLoader>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.20" newVersion="1.1.0.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.20" newVersion="1.1.0.20" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>